{% extends 'base.html.twig' %}

{% block body %} 
    <h1>{{ article.title }} <span class="fs-6">({{ article.publisedAt != null ? article.publisedAt |date("d/m/Y H:i:s") }})</span></h1>
    
    <p>
        <a href="{{ path('app_blog_article_edit', {slug: article.slug}) }}" class="btn btn-info">Editer</a>
    </p>

    <p>{{ article.content }}</p>
     
    <p>
        <a href="{{ path('app_blog') }}" class="btn btn-secondary">Retour</a>
    </p>

    <p>
        <a href="{{ path('app_blog_article_delete', {slug: article.slug}) }}" class="btn btn-danger btn-lg">Supprimer</a>
    </p>
{% endblock %}